<html>
<head>
</head>
<body>
<h1>Hello, world !</h1>
<?php
  echo "<p>\n";
  echo "Nous nous trouvons sur l'instance <b>".gethostname()."</b>.\n";
  echo "</p>\n";

  echo "<p>\n";
  echo "Lancement de la boucle de calcul... ";

  set_time_limit(600);
  
  $time = microtime();
  $time = explode(' ', $time);
  $time = $time[1] + $time[0];
  $start = $time;

//  for($i = 0; $i < 10; $i++) {
  for($i = 0; $i < 100000000; $i++) {
     $a = log1p(cosh(log1p($i)));
  }

  $time = microtime();
  $time = explode(' ', $time);
  $time = $time[1] + $time[0];
  $finish = $time;
  $total_time = round(($finish - $start), 3);

  echo "boucle de calcul terminée à ".date('H:i:s')." en ".$total_time."s !\n";
  echo "</p>\n";

//-----------------------------------------------------------------------------
//--------- Modifiez ici le code pour l'accès au stockage objet local ---------
//-----------------------------------------------------------------------------

date_default_timezone_set('Europe/Paris');

echo "<p>\n";
require 'aws-autoloader.php';
use Aws\S3\S3Client;

$bucket = '{{ s3_bucket }}';
$fichier= '{{ s3_fichier }}';
$clef_API = '{{ s3_api_key }}';
$secret_API = '{{ s3_secret_key }}';
$endpoint = '{{ s3_endpoint }}';
$region = '{{ s3_region }}';
$version = '2006-03-01';

try {
    $s3 = new S3Client([
        'endpoint' => $endpoint,
        'http'    => ['verify' => false],
        'region' => $region,
        'debug' => false,
        'version' => $version,
        'credentials' => [
            'key'    => $clef_API ,
            'secret' => $secret_API ,
        ],
        'use_path_style_endpoint' => true
    ]);

    $contenu = $s3->getObject(array(
        'Bucket' => $bucket,
        'Key' => $bucket.'/'.$fichier,
    ));
    $message = "Contenu du stockage objet :\n".$contenu['Body']." :)\n";
} catch (Exception $e) {
    echo $e->getMessage() . "\n";

    $message = $e->getMessage() . "\n";
}

echo $message;
echo "</p>\n";

//------------------------------------------------------------------------------
//--------- Fin de modification du code pour l'accès au stockage objet ---------
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
//----------- Modifiez ici le code pour l'accès à la base de données -----------
//------------------------------------------------------------------------------

echo "<p>\n";
$serveur = '{{ mysql_server }}';
$user = '{{ login_mysql_user }}';
$password = '{{ passwd_mysql_user }}';
$base = '{{ mysql_base }}';

// Create connection
$mysql = new mysqli($serveur, $user, $password, $base);

// Check connection
if ($mysql->connect_error) {
    echo ("Connexion BDD KO : " . $mysql->connect_error);
} else {
    echo "Connexion BDD OK !<br />\n";
    $mysql->real_query("SELECT prenom, nom FROM contenu_base_testndc");
    $resultat = $mysql->use_result();

    echo "Contenu de la base SQL :<br />\n";
    while ($row = $resultat->fetch_assoc()) {
        echo $row['prenom']." ".$row['nom']."<br />\n";
    }
}
echo "</p>\n";

//-----------------------------------------------------------------------------
//------- Fin de modification du code pour l'accès à la base de données -------
//-----------------------------------------------------------------------------

?>
</body>
</html>

